

@charset "utf-8";
/* 포트폴리오 메인 */
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 대전광역시 font */
@font-face {
    font-family: 'NotoR';
    src: url(font/Noto_Sans_KR/NotoSansKR-Regular.otf);
    src: url(font/Noto_Sans_KR/NotoSansKR-Medium.otf);
}      
*{border:0; padding:0; margin:0; list-style: none; text-decoration:none; box-sizing: border-box; word-break: break-all; color:#333333;}

img, select, input, button{vertical-align: middle;}
a{color:#333333; }

.left{float:left;}
.right{float:right;}
.cl_b{clear: both;}
