/* modal */
.modal_bg {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.modal {
  display: none;
  width: 700px;
  height: 482px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
#c_btn {
  width: 170px;
  height: 30px;
  background: #ddd;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.wrap {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* slide */
.slide {
  width: 100%;
  height: 820px;
  position: relative;
  overflow: hidden;
}
.slide_img {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img1 {
  background: url("../img/ddb39ec7999a4ed8a72d24218d15109a.jpg") no-repeat
    center / cover;
}
.img2 {
  background: url("../img/bbd9f67e51d243419dc4e4f0f1127b86.jpg") no-repeat
    center / cover;
}
.img3 {
  background: url("../img/413f84224007471fb44cf9e435977840.jpg") no-repeat
    center / cover;
}
.img4 {
  background: url("../img/183d4f09b9454006a362c4537d1c6bd8.jpg") no-repeat
    center / cover;
}
.img5 {
  background: url("../img/9e2f3b6d309442358ac639c5856f0c41.jpg") no-repeat
    center / cover;
}

.left {
  left: 20px;
}
.right {
  right: 20px;
}
.right,
.left {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.cir {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  float: left;
}
.cir:last-child {
  margin-right: 0;
}
.indi {
  width: 210px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* contents */
.con {
  width: calc((100% / 3) - 0.1px);
  height: 50%;
  transition: all 0.3s;
  position: relative;
  float: left;
  overflow: hidden;
}
.con_p {
  width: 300px;
  line-height: 30px;
  color: #fff;
  font-size: 23px;
  position: absolute;
  top: 75%;
  left: 5%;
  z-index: 2;
}
.con:hover {
  transform: scale(0.9);
}

.contents {
  width: 1300px;
  height: 800px;
  margin: 100px auto 0;
}

.text {
  display: block;
  text-indent: -9999px;
}

/* work */
.work {
  width: 1300px;
  margin: 100px auto;
}
.work h1 {
  width: 80%;
  line-height: 100px;
  margin-bottom: 50px;
  border-top: 1px solid;
  border-bottom: 1px dotted;
  font-weight: normal;
  text-align: center;
}

.works_box {
  width: calc(((100% - 60px) / 4) - 0.1px);
  height: 471px;
  margin-right: 20px;
  margin-bottom: 30px;
  float: left;
  overflow: hidden;
}
.works_box:last-child {
  margin-right: 0;
}
.works_box:nth-child(4n) {
  margin-right: 0;
}
.works_box:nth-child(21),
.works_box:nth-child(22),
.works_box:nth-child(23),
.works_box:nth-child(24) {
  margin-bottom: 100px;
}

.work_box_wrap {
  width: 100%;
  height: auto;
}

.works_t {
  line-height: 25px;
  margin-left: 15px;
  font-size: 14px;
}
.works_t p:nth-child(2):hover {
  text-decoration: underline;
}
.works_t p:nth-child(2) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.works_img {
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
  overflow: hidden;
}
.works_img img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.works_img:hover .works_img1 {
  opacity: 0;
}
.works_img:hover .works_img2 {
  opacity: 1;
}
.works_img2 {
  opacity: 0;
}

.w_title {
  font-size: 13px;
}

.tax {
  font-size: 13px;
  text-decoration: line-through;
}

.discount {
  color: red;
  font-weight: bold;
}

@media screen and (max-width: 1500px) {
  .work {
    width: 95%;
  }
  .con_p {
    font-size: 20px;
  }
  .contents {
    width: 95%;
  }
}
@media screen and (max-width: 1300px) {
  .work {
    width: 100%;
  }
  .con_p {
    font-size: 20px;
  }
  .contents {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .con {
    width: calc((100% / 2) - 0.1px);
    height: calc((100% / 3) - 0.1px);
  }
  .con img {
    width: 100%;
  }

  .works_box {
    width: calc(((100% - 40px) / 3) - 0.1px);
  }
  .works_box:nth-child(4n) {
    margin-right: 20px;
  }
  .works_box:nth-child(3n) {
    margin-right: 0;
  }
  .works_box:nth-child(21) {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  .slide {
    height: 700px;
  }
  .works_box {
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .con {
    width: 100%;
    float: none;
  }
  .contents {
    height: auto;
  }

  .slide {
    height: 600px;
  }

  .work {
    clear: both;
  }
  .works_img {
    height: 289px;
  }
  .works_box {
    width: calc(((100% - 20px) / 2) - 0.1px);
    height: auto;
  }
  .works_box:nth-child(4n),
  .works_box:nth-child(3n),
  .works_box:nth-child(21) {
    margin-right: 20px;
  }
  .works_box:nth-child(2n) {
    margin-right: 0;
  }
  .works_box:nth-child(21),
  .works_box:nth-child(22) {
    margin-bottom: 30px;
  }
  .works_box:nth-child(23),
  .works_box:nth-child(24) {
    margin-bottom: 50px;
  }
}
