*{padding:0; margin:0 auto; border:0; list-style: none; text-decoration: none;box-sizing: border-box; cursor:pointer; outline:none;}
a{color:#222328;}
.fl{float:left;}
.fr{float:right;}
.txt_indent{text-indent:-999px;}

.wrap{width:100%; max-width:1920px; height:100%; position: relative; overflow: hidden;}

/* header */
.header{width:100%; height:80px; font-weight: bold; position: relative;}
.header_size{width:1300px; height:80px;}
.logo{height:80px; overflow: hidden;}

/*  menu */
.menu{width:60%; height:100%; line-height: 80px; text-align: center;}
.main_menu{width:calc((100% / 6) - 0.1px); height:100%; position: relative;}

.sub_menu{display: none; width:100%; height:200px; line-height: 50px; background:#0b2575; font-size:13px; position: absolute; top:80px; left:0; z-index:4;}
.sub_menu li a{color:#fff;}

.fake_sub{display: none; width:100%; height:200px; background:#0b2575; position: absolute; top:80px; left:0; z-index: 3;}

/* 햄버거 X자 */
.ham{display: none;}
.ham_menu{display: none;}

.line-t{animation: line-t1 .5s forwards;}
.line-t-ro{animation: line-t2 .5s forwards;}

.line-m{animation: line-m1 .5s .1s forwards;}
.line-m-ro{animation: line-m2 .3s  forwards;}

.line-b{animation: line-b1 .5s forwards;}
.line-b-ro{animation: line-b2 .5s forwards;}

@keyframes line-t1 {0% { transform: translateY(0);} 50% { transform:translateY(15px);} 100% { transform:translateY(15px) rotate(45deg);}}
@keyframes line-t2 {0% { transform: translateY(15px) rotate(45deg);} 50% { transform:translateY(15px) rotate(0);} 100% { transform:translateY(0);}}
@keyframes line-m1 {0% { transform:scale(1);} 100% { transform:scale(0);}}
@keyframes line-m2{0% { transform:scale(0);} 100% { transform:scale(1);}}
@keyframes line-b1 {0% { transform: translateY(0);} 50% { transform:translateY(-15px);} 100% { transform:translateY(-15px) rotate(-45deg);}}
@keyframes line-b2 {0% { transform: translateY(-15px) rotate(-45deg);} 50% { transform:translateY(-15px) rotate(0);} 100% { transform:translateY(0px);}}




/* footer */
.footer{width:100%; height:150px; background:#333333; clear: both;}

.f_size{width:1300px; height:100%; position: relative;}
.f_logo{position: absolute; left:50%; top:50%; transform: translate(-50%,-50%);}

.f_sel{position: absolute; top:50%; right:50px; transform: translateY(-50%);}
.f_sel select{width:200px; height:30px; background:#333; border:1px solid #fff; color:#fff; outline:none;}

/* top */
.btn_top{width:50px; height:50px; line-height: 50px; border-radius: 50px; background:rgba(255,255,255,0.6); color:#333; text-align: center; font-weight: bold; position: fixed; bottom:60px; right:20px;}


@media screen and (max-width : 1300px) {
    .menu{display: none;}

    .header_size{width:100%;}

    .ham{display: block; width:50px; height:35px; margin-top:22.5px; margin-right:20px; float:right;}
    .ham_menu{display: block;width:150px; height:100vh; background:rgb(16, 4, 121); color:#fff; position: absolute; top:80px; right:-170px; transition:all .5s; z-index: 9;}
    .ham_menu li{line-height:70px; text-align: center;}
    .ham_menu li a{color:#fff;}

    .line{width:100%; height:5px; margin-bottom:10px; background:#222328;}
    .line:last-child{margin-bottom:0;}

    .f_size{width:100%;}
}
@media screen and (max-width:768px){
    .f_sel{display: none;}
}
